bibliography/*
zotero/*
.zotero*
src/Grid2Op/
src/grl/data_grid2op/
src/grl/.venv/
src/grl/.idea/
src/grl/.python-version

# Latex
*.aux
*.log
*.out
*.bbl
*.blg
*.toc
*.lof
*.lot
*.brf

# Python
src/.venv/*
